{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'static_dirs/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'static_dirs/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABN Validator</title>
</head>
<body>
<h1 class="text-center mb-5 mt-3">ABN Validator</h1>
{% block content %}{% endblock %}
</body>
</html> 